.bg-dark, body{
    background-color: #181818 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white{
    color: white;
}

.custom-navbar {
    background-color: #343a40; 
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    color: white;
    text-decoration: none;
}

.brand-highlight {
    color: #ffc107; /* Bootstrap's "warning" color */
}

.nav-collapse {
    display: flex;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.board-container{
    width: 75%;
}

.mainDiv{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.currentVariant{
    color:beige;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.moveMades{
    min-height: 257px !important;
}

.loadedMoves, .openings{
    width: 300px;
    height: 257px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(99, 99, 99);
}

.form-control, .moveMades{
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(99, 99, 99);
}

.openings, .loadedMoves{
    padding: 10px;
}

.openings p, .loadedMoves p{
    margin-top: 0;
    margin-bottom: 0;
}

.openings p:hover{
    cursor: pointer;
    background-color: gray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

p{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.userOpening{
    display: flex;
    align-items: center;
}