body{
    background-color: #212529;
}

.boardDiv{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.currentVariant{
    color:beige;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div[data-square="d2"] {
    background-color: aqua !important;
}