.bg-dark, body{
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*----------------------------------navbar-----------*/
.custom-navbar { 
    padding: 1.2rem 4rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name1{
    color: white;
    text-decoration: none;
}
.brand-name2 {
    color: #ffc107; /* Bootstrap's "warning" color */
}
.nav-items {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}
.nav-link {
    color: white;
    text-decoration: none;
}
/*----------------------------------navbar-----------*/


/*----------------------------------buttons-----------*/
.btn-light{
    margin: 2px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-light:hover{
    cursor: pointer;
    background-color: #fff6db;
}
.commentButtons{
    display: flex;
    justify-content: center;
}
/*----------------------------------buttons-----------*/

.board-container{
    width: 75%;
}

.mainDiv{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.currentVariant{
    color:beige;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.moveMades{
    min-height: 257px !important;
}

.loadedMoves, .openings{
    width: 300px;
    height: 257px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(99, 99, 99);
}

.form-control, .moveMades{
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(99, 99, 99);
}

.openings, .loadedMoves{
    padding: 10px;
}

.openings p, .loadedMoves p{
    margin-top: 0;
    margin-bottom: 0;
}

.openings p:hover{
    cursor: pointer;
    background-color: gray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

p{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.userOpening{
    display: flex;
    align-items: center;
}